.collection_switch{
    width: 100%;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.collection_switch_box{
    width: 100%;
    margin: 10px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition: 1.5s;
}
.collection_switch_box img{
    display: block;
    width: 100%;
}.collection_switch_box:hover{
    transform: scale(1.03);
    rotate: 2deg;
    z-index:1;
}